$('.question-errors').html('<%= render 'shared/errors', resource: @commentable %>');
$('.flash-messages').html('<%= render 'shared/flash_messages' %>');

<% if @comment.persisted? %>
  var commentable = '<%= @commentable.class.to_s.downcase %>-<%= @commentable.id %>'
  var list_comments = $('.' + commentable + '-comments .list')

  if(list_comments.find('.fs-6').length === 0) {
      list_comments.append('<div class="fs-6">Comments:</div>');
  }
  list_comments.append('<%= j render @comment %>');
  $('form#' + commentable + ' #comment_body').val('');
  $('form#' + commentable).addClass('d-none')
  $('.' + commentable + '-comments .comment-link').show();
<% end %>
