$('.question-errors').html('<%= render 'shared/errors', resource: @commentable %>');
$('.flash-messages').html('<%= render 'shared/flash_messages' %>');

<% if @comment.persisted? %>
  var commentable = '.<%= @commentable.class.to_s.downcase %>-<%= @commentable.id %>'
  var header = $(commentable + '-comments .list').find('.fs-6')

  if(header.length === 0) {
    $(commentable + '-comments .list').append('<div class="fs-6">Comments:</div>');
  }
  $(commentable + '-comments .list').append('<%= j render @comment %>');
  $(commentable + '-form-comment #comment_body').val('');
  $(commentable + '-form-comment').hide();
  $(commentable + '-comments .comment-link').show();
<% end %>
